<div class="display">
	{{#if post.isCurrent}}
		{{#if post.isImage}}
			<div class="image" style="background-image:url({{post.url}})"></div>
		{{/if}}
		{{#if post.isVideo}}
			{{{post.html}}}
		{{/if}}
		{{#if post.isArticleThumbnail}}
			<div class="image" style="background-image:url({{post.thumbnail}})" />
		{{/if}}
		{{#if post.isArticleNoThumbnail}}
			<div class="no-image"></div>
		{{/if}}
		{{#if post.isAlbum}}
			{{imgur-album elementId="album" album=post.album}}
		{{/if}}
	{{else}}
		{{#if post.hasThumbnail}}
			<div class="image" style="background-image:url({{post.thumbnail}})"></div>
		{{else}}
			<div class="no-image"></div>
		{{/if}}
	{{/if}}
</div>
<div class="info">
	<a href="{{post.url}}" class="title" target="_blank">{{post.title}}</a>
</div>
